$mancha-1: url(../assets/img/mancha-1.svg);

.spinning_svg {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  height: 100vh;
  align-items: center;
}

.colorblind_wrapper {
  display: flex;
  align-items: center;
}

.colorblind_switch {
  margin-left: 5px;
}

.educapp_nav__items {
  & > a {
    color: white;
  }

  &:hover > a {
    color: var(--primary);
  }
}

.activity_form_container {
  background-image: $mancha-1;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: right top;
}

