@import "../../../../ui-styling/globals/colors.scss";

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--darker-primary);
  -webkit-transition: background-color 500ms ease-in-out;
  -ms-transition: background-color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out;

  button {
    color: white;
    width: 18%;
    margin: 0;
    border-color: var(--darker-primary);
    -webkit-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;

    &.colorblind_button:focus {
      color: white;
    }

    &.colorblind_button:hover {
      color: white;
      background-color: var(--dark-primary);
      border-color: var(--darker-primary);
      -webkit-transition: all 500ms ease-in-out;
      -ms-transition: all 500ms ease-in-out;
      transition: all 500ms ease-in-out;
    }
  }
}

.toolbar_buttons {
  background-color: var(--primary);
  -webkit-transition: background-color 500ms ease-in-out;
  -ms-transition: background-color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out;
}
