@import "../../../../ui-styling/globals/colors.scss";

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--darker-primary);

  button {
    color: white;
    width: 18%;
    margin: 0;
    border-color: var(--darker-primary);

    &:focus {
      color: white;
    }

    &:hover {
      color: white;
      background-color: var(--dark-primary);
      border-color: var(--darker-primary);
    }
  }
}

.toolbar_buttons {
  background-color: var(--primary);
}
