@import "../../../../../ui-styling/globals/colors.scss";

.course_container {
  padding: 5%;
}

.course_subject_name {
  color: var(--dark-primary) !important;
  -webkit-transition: color 250ms ease-in-out;
  -ms-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
  color: #b5b5b5;
}
