@import "../../../../ui-styling/globals/colors.scss";

.dashboard-container {
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: right top;
  height: 100%;
}

.link-container {
  width: 35%;
  margin-left: 3em;
}

.title-container {
  padding-left: 5%;
  padding-top: 5%;
}

.dashboard-greeting {
  color: var(--dark-primary) !important;
}

.dashboard-name {
  color: var(--darker-primary) !important;
}
