@import "../../../App.styles.scss";

$header-height: 82px;
$mancha-1: url(../../../assets/img/mancha-1.svg);
$mancha-2: url(../../../assets/img/mancha-2.svg);

section {
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100vh - #{$header-height});

  .section-content {
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
}

h1 {
  color: $edu-dark-primary;
  font-size: 72px;
}

h3 {
  color: $edu-darker-primary;
  font-size: 50px;
}

.landing-nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  padding: 15px;

  .navbar-item {
    padding: 0.5rem 3rem;
  }

  .navbar-item:first-child {
    padding: 0.5rem 2rem;
  }
}

.white-navbar {
  background-color: white;
  border-bottom: solid 2px white;
  box-shadow: 0px 2px 9px 0px #b77b0066;
  animation: to-white-navbar 0.5s;
}

.hide-navbar {
  animation: to-transparent-navbar 0.5s;
}

#inicio {
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-image: $mancha-1;
  background-position: right;

  div {
    width: 50%;

    p {
      text-align: justify;
      margin-top: 20px;
    }

    .roughNotation {
      width: 25%;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-self: flex-end;
    }

    .start-button {
      width: 90%;
      background-color: $edu-dark-primary;
    }
  }
}

#servicios {
  background-image: $mancha-2;
  background-position-x: -150px;

  .section-content {
    div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .card {
        width: 20%;

        .content {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

#quienes-somos {
  .team-images-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

    .team-image {
      width: 15%;

      img {
        border-radius: 100%;
      }

      p {
        text-align: center;
      }
    }
  }
}

#contacto {
  .section-content {
    align-items: center;

    h3,
    p {
      margin-bottom: 20px;
    }

    form {
      width: 25%;
      display: flex;
      flex-direction: column;

      input,
      textarea {
        margin-bottom: 20px;
      }

      button {
        background-color: $edu-secondary;
        width: 30%;
        align-self: flex-end;
      }
    }
  }
}

//---------- ANIMATIONS ----------

@keyframes to-white-navbar {
  from {
    background-color: transparent;
    border-bottom: solid 2px transparent;
    box-shadow: none;
  }
  to {
    background-color: white;
    border-bottom: solid 2px white;
    box-shadow: 0px 2px 9px 0px #b77b0066;
  }
}

@keyframes to-transparent-navbar {
  from {
    background-color: white;
    border-bottom: solid 2px white;
    box-shadow: 0px 2px 9px 0px #b77b0066;
  }
  to {
    background-color: transparent;
    border-bottom: solid 2px transparent;
    box-shadow: none;
  }
}
