@import "../../../ui-styling/globals/colors.scss";

$header-height: 75px;
$mancha-1: url(../../../assets/img/mancha-1.svg);
$mancha-2: url(../../../assets/img/mancha-2.svg);
$mancha-3: url(../../../assets/img/mancha-3.svg);
$mancha-4: url(../../../assets/img/mancha-4.svg);
$mock-1: url(../../../assets/img/mock-1.svg);

h1 {
  color: var(--darker-primary);
  font-size: 6em;
  -webkit-transition: color 250ms ease-in-out;
  -ms-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}

h3 {
  color: var(--dark-primary);
  font-size: 3em;
  -webkit-transition: color 250ms ease-in-out;
  -ms-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}

h4 {
  font-size: 1.5em;
}

p,
a {
  font-size: 1.1em;
}

section {
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100vh - #{$header-height});

  .section-content {
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
}

.landing-nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  padding: 15px;

  .navbar-item {
    padding: 0.5rem 3rem;
  }

  .navbar-item:first-child {
    padding: 0.5rem 2rem;
  }
}

.white-navbar {
  background-color: white;
  border-bottom: solid 2px white;
  box-shadow: 0px 2px 9px 0px #b77b0066;
  animation: to-white-navbar 0.5s;
}

.hide-navbar {
  animation: to-transparent-navbar 0.5s;
}

#inicio {
  height: 100vh;
  background-image: $mancha-1;
  background-position: right;

  h3 {
    width: fit-content;
  }

  div {
    p {
      text-align: justify;
      margin-top: 20px;
    }

    .button-roughNotation {
      margin-top: 80px;
      display: flex;
      justify-content: center;
    }

    .start-button {
      background-color: var(--primary);
    }
  }

  .section-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    h4 {
      margin-top: 20px;
    }

    div {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

#servicios {
  background-image: $mock-1;

  .section-content {
    align-items: flex-end;
    justify-content: center;

    .image-container {
      width: 50%;
    }

    .benefits-container {
      width: 50%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
      margin-top: 20px;

      .card {
        width: 45%;
        min-height: 150px;
        margin: 10px;
        background-color: var(--light-blue);

        .content {
          display: flex;
          flex-direction: column;

          .benefits-desc {
            margin-top: 20px;
            line-height: 2;
          }
        }
      }
    }
  }
}

#quienes-somos {
  background-image: $mancha-4;
  background-position: center;

  text-align: justify;

  h3,
  p {
    margin-bottom: 20px;
  }

  .team-images-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;

    .team-image-container {
      text-align: center;

      .member-image {
        width: 200px;
        height: 200px;
        border-radius: 100%;
      }

      p {
        margin-top: 20px;
      }
    }
  }
}

#contacto {
  background-image: $mancha-3;
  background-position: right;

  .section-content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    h3 {
      margin-bottom: 20px;
    }

    .contact-container {
      width: 35%;
    }

    form {
      display: flex;
      flex-direction: column;

      input,
      textarea {
        margin-bottom: 20px;
      }

      .button-container {
        width: 30%;
        align-self: flex-end;

        button {
          width: 100%;
          background-color: var(--secondary);
        }
      }
    }
  }
}

.social-media {
  margin: 20px 0;
  display: flex;
  flex-direction: column;

  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    margin: 5px 0;
  }

  a:hover {
    opacity: 0.5;
  }

  img {
    filter: invert(50%) sepia(52%) saturate(582%) hue-rotate(141deg)
      brightness(100%) contrast(103%);
    margin-right: 10px;
  }
}

.landing-footer {
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    h3 {
      margin: 0;
      margin-left: 20px;
    }

    div {
      display: flex;
    }

    .logo {
      flex-direction: row;
      align-items: center;
    }

    .social-media {
      margin-top: 15px;
      margin-bottom: 0;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }

    .footer-nav-container,
    .footer-nav {
      flex-direction: column;
      align-items: start;
    }

    .footer-nav {
      margin-left: 50px;
    }
  }
}

//---------- ANIMATIONS ----------

@keyframes to-white-navbar {
  from {
    background-color: transparent;
    border-bottom: solid 2px transparent;
    box-shadow: none;
  }
  to {
    background-color: white;
    border-bottom: solid 2px white;
    box-shadow: 0px 2px 9px 0px #b77b0066;
  }
}

@keyframes to-transparent-navbar {
  from {
    background-color: white;
    border-bottom: solid 2px white;
    box-shadow: 0px 2px 9px 0px #b77b0066;
  }
  to {
    background-color: transparent;
    border-bottom: solid 2px transparent;
    box-shadow: none;
  }
}
