.button-container {
  padding-left: 15%;
  padding-right: 15%;
}

.course-title {
  color: var(--darker-primary) !important;
}

.title-line-container {
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 2em;
}
