.chat_input {
  padding: 10px;
}

.chat_input__wrapper {
  width: 100%;
}

.chat_input__input {
  border-radius: 50px !important;
}

.chat_button {
  background-color: var(--light-blue);
  border: none;
  -webkit-transition: background-color 250ms ease-in-out;
  -ms-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
}
