.under_construction {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

.under_construction_text {
  font-weight: bold;
}
