.under_construction {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  margin: 0 auto;
  padding: 30px 0;
}

.under_construction_text,
.support_text {
  width: 50%;
  font-weight: bold;
  color: var(--darker-primary) !important;
  transition: color 250ms ease-in-out;
}

.under_construction_text {
  margin-top: 40px;
}
