.assignature-title {
  padding-left: 6%;
  padding-top: 0.75em;
  color: var(--darker-primary) !important;
  -webkit-transition: color 250ms ease-in-out;
  -ms-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}
