.assignature-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.assignature-title {
  padding: 10px 0 0 6%;
  color: var(--darker-primary) !important;
  -webkit-transition: color 250ms ease-in-out;
  -ms-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}
