:root {
  --primary: #1eaac3;
  --secondary: #f5dc17;
  --darker-primary: #1f4d57;
  --dark-primary: #24778a;
  --light-aquamarine: #aadbc7;
  --aquamarine: #8bd2b0;
  --light-blue: #b8e3ec;
  --colorblind-dashboard-background: url(../../assets/img/mancha-1.svg);
  --dashboard-background: url(../../assets/img/dashboard-background.svg);
}
