:root {
  --user_camera-width: 500px;
  --user_camera_max-height: 350px;
}

.hide_cameras {
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 0 !important;
}

.user_camera_container {
  video {
    width: 640px;
    height: 480px;
    height: fit-content;
  }
}

.videochat_container {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.cameras_and_screen {
  background-color: #171717;
  position: relative;
  height: 100%;
  flex-basis: 80%;
}

.cameras_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cameras_row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 10px 0;
}

.user_camera_container {
  position: relative;
  border: solid 2px #2f2f2f;
  margin: 0 10px;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  max-height: var(--user_camera_max-height);
}

.user_name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #2727279c;
  padding: 0.4em;
  color: white;
}

.chat_window {
  height: 100%;
  overflow: hidden;
}

.cameras_and_cc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.toolbar_and_chat {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
}

.screen_sharing_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  video {
    width: 95%;
    border-radius: 10px;
    border: solid 2px #2f2f2f;
  }
}
