@import "../../../ui-styling/globals/colors.scss";

.button-image {
  height: 100px;
  width: 100px;
}

.button-text {
  padding-top: 0.5em;
  color: var(--darker-primary) !important;
}

.button-background {
  height: 11em;
  width: 11em;
  background-color: var(--primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding: 40px;
  justify-content: center;
}
