@import "../../../App.styles.scss";

.button-image {
  height: 100px;
  width: 100px;
}

.button-text {
  padding-top: 0.5em;
  color: #245e6c !important;
}

.button-background {
  height: 10em;
  width: 10em;
  background-color: #1eaac3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding: 40px;
  justify-content: center;
}
