@charset "utf-8";
@import "~bulma/bulma";
@import "./ui-styling/globals/colors.scss";

$navbar-height: 72px;
$footer-height: 88.59px;

$app-container-height: calc(100vh - #{$navbar-height});
$app-content-height: calc(#{$app-container-height} - 168px);

* {
  font-family: "Poppins", sans-serif;
}

html {
  overflow: visible !important;
  height: 100vh;
}

button {
  &:focus {
    border: 1px solid white !important;
  }
}

.educapp-nav {
  padding: 8px;
  background-color: var(--primary);
  box-shadow: 0px 2px 9px 0px #00000054;
  -webkit-transition: background-color 250ms ease-in-out;
  -ms-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;

  .navbar-brand {
    .navbar-item {
      color: white;
    }
    .navbar-item:hover {
      opacity: 0.6;
    }
  }
}

.app-wrapper {
  width: 100%;
}

.app-container {
  width: 100%;
  height: $app-container-height;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.app-content {
  flex-basis: calc(calc(100vh - 3.25rem) - #{$footer-height});
  height: fit-content;
}

.footer {
  background-color: #f6f6f6;
  padding: 2rem;
}

.app-container.hide-footer {
  .app-content {
    flex-basis: unset;
    height: 100%;
  }
  .footer {
    display: none;
  }
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  align-items: center;
}
