@import "../../../../ui-styling/globals/colors.scss";

.sidebar-menu {
  width: 50px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #353535;
}

.bm-burger-button {
  position: relative;
  width: 30px;
  height: 25px;
  left: 0;
  top: 10px;
}

.bm-burger-bars {
  background: #ffffff;
  height: 10% !important;
}

.bm-burger-bars-hover {
  background: #ffffff9d;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu-wrap {
  position: absolute !important;
  height: 100%;
  top: 0;
  left: 0;
}

.bm-menu {
  background: #353535;
  padding: 2.5em 0px;
  font-size: 1.15em;

  &::-webkit-scrollbar {
    width: 10px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.7);
  }
  &::-webkit-scrollbar-thumb:active {
    background: rgba(255, 255, 255, 0.4);
  }
}

.bm-morph-shape {
  fill: #353535;
}

.bm-item-list {
  color: #c4c4c4;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.bm-item {
  display: inline-block;
}

.menu-group-title {
  padding: 10px;
  background-color: #{var(--primary) + "29"};
  -webkit-transition: background-color 500ms ease-in-out;
  -ms-transition: background-color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out;
}

.menu-group-title,
.menu-item {
  border: solid #ffffff1a;
  border-width: 1px 0;
}

.menu-item {
  color: #c4c4c4;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.2);
}

.menu-item:first-child {
  border-top-width: 2px;
}

.menu-item:last-child {
  border-bottom-width: 2px;
}

.menu-item:hover,
.menu-item:focus {
  color: #c4c4c4;
  background-color: rgba(0, 0, 0, 0.4);
}

.menu-item.assignature {
  padding-left: 40px;
}
